<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>

  <appSettings>
<!--
    <add key="ida:FederationMetadataLocation" value="https://adfs.dscoland.local/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Realm" value="https://claimstest.dscoland.local" />
    <add key="ida:AudienceUri" value="https://claimstest.dscoland.local" />
-->
  </appSettings>

  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="None" />
    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>

  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>

  <!-- http://chris.59north.com/post/Configuring-an-ASPNET-site-to-use-WS-Federation -->
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://claimstest.dscoland.local/" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <!-- use Get-ADFSCertificate on ADFS server and locate the Token-Signing certificate thumbprint -->
          <add thumbprint="2068878650A1E36495E5CDDB6FED1589ABFB6801" name="http://adfs.dscoland.local/adfs/services/trust" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="true" />
      <wsFederation passiveRedirectEnabled="true" issuer="https://adfs.dscoland.local/adfs/ls/" realm="https://claimstest.dscoland.local" requireHttps="true" />
    </federationConfiguration>
  </system.identityModel.services>

</configuration>
